/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: #ffe4c4;
  font-size: 0.8em;
  text-shadow: none;
}

::selection {
  background-color: #c0945b;
  color: #fff2e1;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fff2e1;
}

::-webkit-scrollbar-thumb {
  background-color: #c0945b;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0a178;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  outline: none;
  border: none;
  transition: 0.3s;
  text-decoration: none;
}

body {
  background-color: #fff2e1;
}

.header {
  position: relative;
  margin-bottom: 7rem;
}
.header div:nth-child(2) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 6rem);
  top: 9rem;
  margin-right: 10%;
  width: 12rem;
  height: 12rem;
  padding: 3rem;
  border-radius: 50%;
  background-color: #fff2e1;
  border: 1px solid #c0945b;
  text-align: center;
  overflow: hidden;
}
.header div:nth-child(2) .shine {
  width: 15rem;
  max-height: 2rem;
  background-color: #ffffff8e;
  filter: blur(6px);
  border-radius: 0%;
  padding: 0%;
  transform: rotateZ(-45deg);
  top: 0rem;
  left: -7rem;
  border: none;
  animation: shine 15s 3s infinite;
}
@keyframes shine {
  0% {
    top: 0rem;
    left: -7rem;
  }
  10% {
    top: 10rem;
    left: 4rem;
  }
  20%, 100% {
    top: 0rem;
    left: -7rem;
  }
}
.header div:nth-child(2) h1 {
  height: min-content;
  font-size: 6rem;
  font-family: "MonteCarlo", cursive;
  color: #c0945b;
  margin-bottom: 10px;
  margin-right: 5px;
}
.header .header__striped {
  background-color: #ffe4c4;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  background-image: url("media/patt.png");
  mix-blend-mode: multiply;
  background-repeat: repeat;
  background-size: 16rem;
  border-bottom: 1px solid #c0945b;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 0%;
  max-width: 55rem;
}
.content .content__description {
  text-align: center;
  color: #3f2e19;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.fibo {
  margin-top: 2rem;
  width: 100%;
}
.fibo .fibo__index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fibo .fibo__index span {
  font-family: "Kalam", cursive;
  font-weight: 100;
  font-size: 1rem;
}
.fibo .fibo__index input {
  background-color: #ffe4c4;
  text-align: center;
  color: #fff2e1;
  height: 2rem;
  border-radius: 1rem;
  text-shadow: 0px 0px 5px #3f2e19;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 1rem;
}
.fibo .fibo__index input:focus {
  background-color: #c0945b;
}
.fibo .fibo__index input :hover {
  -webkit-appearance: none;
}
.fibo .fibo__index button {
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #fff2e1;
  border: 2px solid #c0945b;
  border-radius: 0.6rem;
  color: #c0945b;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 1rem;
}
.fibo .fibo__index button:hover {
  border: 2px solid #fff2e1;
  background-color: #c0945b;
  color: #fff2e1;
}
.fibo .fibo__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-family: "Courgette", cursive;
}
.fibo .fibo__box .fibo__wait {
  width: 100%;
  background-color: #ffe4c4;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  display: none;
  text-align: center;
  color: #c0945b;
}
.fibo .fibo__box .fibo__load {
  width: 100%;
  background-color: #ffe4c4;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  display: none;
  margin-top: 1rem;
}
.fibo .fibo__box .fibo__load span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: #fff2e1;
}
.fibo .fibo__box .fibo__load span.active {
  background-color: #c0945b;
}
.fibo .fibo__box .fibo__result {
  width: 100%;
  background-color: #ffe4c4;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  display: none;
  flex-direction: column;
  min-height: 8rem;
}
.fibo .fibo__box .fibo__result .fibo_numbers {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  margin-bottom: 1.4rem;
  color: #c0945b;
}
.fibo .fibo__box .fibo__result .fibo_numbers div:first-child {
  font-size: 2rem;
  opacity: 0.5;
}
.fibo .fibo__box .fibo__result .fibo_numbers div:nth-child(2) {
  font-size: 3.2rem;
}
.fibo .fibo__box .fibo__result .fibo_numbers div:nth-child(3) {
  font-size: 2rem;
  opacity: 0.5;
}
.fibo .fibo__box .fibo__result .fibo_numbers span {
  position: absolute;
  top: 3.6rem;
  font-size: 2.1rem;
  transform: rotateZ(-90deg);
}
.fibo .fibo__box .fibo__result.wrap {
  min-height: 12rem;
  max-width: 23rem;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers {
  margin-bottom: 0%;
  flex-direction: column;
  align-items: center;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers span {
  display: none;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers .alert {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers.minimize div:first-child {
  font-size: 1.5rem;
  opacity: 0.5;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers.minimize div:nth-child(2) {
  font-size: 2.5rem;
}
.fibo .fibo__box .fibo__result.wrap .fibo_numbers.minimize div:nth-child(3) {
  font-size: 1.5rem;
  opacity: 0.5;
}
.fibo .fibo__box .fibo__final {
  text-align: center;
  height: 2rem;
  color: #3f2e19;
  margin: 2rem 0rem 1rem 0rem;
}
.fibo .fibo__wait.active {
  display: flex;
}
.fibo .fibo__load.active {
  display: flex;
}
.fibo .fibo__result.active {
  display: flex;
}

.footer {
  background-color: #c0945b;
  background-image: url("media/math2.png");
  background-size: 20rem;
  background-position: -5rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 5rem;
  text-align: center;
  font-family: "Courgette", cursive;
  align-items: center;
}
.footer a {
  color: #fff2e1;
}

/*# sourceMappingURL=style.css.map */
